[user]
        name = AUTHORNAME
        email = AUTHOREMAIL
[credential]
        helper = osxkeychain
[init]
        defaultBranch = main
[alias]
        co = checkout
        count = !git shortlog -sn
[color]
        ui = auto
[core]
        excludesfile = ~/.gitignore
        editor = vim
[apply]
        whitespace = nowarn
[mergetool]
        keepBackup = false
[difftool]
        prompt = false
[help]
        autocorrect = 1
[push]
        default = simple
        autoSetupRemote = true
[filter "lfs"]
        process = git-lfs filter-process
        required = true
        clean = git-lfs clean -- %f
        smudge = git-lfs smudge -- %f
