"*":
  editor:
    showIndentGuide: true
    fontFamily: "Droid Sans Mono"
    invisibles: {}
    preferredLineLength: 120
    scrollPastEnd: true
    softWrap: true
    zoomFontWhenCtrlScrolling: false
    lineHeight: 1.2
    fontSize: 15
  core:
    ignoredNames: [
      ".bundle"
      ".git"
      "log"
      "repositories"
      "tmp"
      "vendor"
    ]
    hideGitIgnoredFiles: true
    disabledPackages: [
      "background-tips"
      "exception-reporting"
      "metrics"
    ]
    destroyEmptyPanes: false
    followSymlinks: true
    projectHome: "~/projects"
  "spell-check":
    grammars: [
      "text.plain"
      "source.gfm"
      "text.git-commit"
    ]
  welcome:
    showOnStartup: false
  "release-notes":
    viewedVersion: "0.89.0"
  linter: {}
  "go-plus": {}
".js.regexp.source":
  editor:
    preferredLineLength: 120
".js.source":
  editor:
    preferredLineLength: 120
